<div class="jumbotron">
  <h1>Welcome <%= current_user.name %></h1>
  <p>
    This application allow you to manage your Gadgets.<br/>
    Seems like there's no one yet, why not create one?
  </p>
  <p>
    <%= link_to 'Create...', new_gadget_path, role: 'button', class: 'btn btn-lg btn-primary' %>
  </p>
</div>
